<div class="container contenedor-peli">
  <div class="row m-0">
    <div class="col contenedor-logo">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/7r7SSO2DjWG1mz73ulhKB6flv2R.jpg" alt="">
    </div>
    <div class="col contenedor-info">
      <h2>300</h2>
      <p>29/03/2007</p>
      <img src="../../../assets/4 stars.png" alt="">
      <h3>Descripción:</h3>
      <p>Adaptación del cómic de Frank Miller (autor del cómic 'Sin City') sobre la famosa batalla de las Termópilas (480 a.C.). El objetivo de Jerjes, emperador de Persia, era la conquista de Grecia, lo que desencadenó las Guerras Médicas. Dada la gravedad de la situación, el rey Leónidas de Esparta (Gerard Butler) y 300 espartanos se enfrentaron a un ejército persa que era inmensamente superior.</p>
    </div>
  </div>
  <div class="row m-0">
    <div class="col trailer">
      <h3>Ver trailer</h3>
      <div>
        <iframe width="640" height="360" src="https://www.youtube.com/embed/mi4xUUJSuro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>
